:root{
    --dull-text: #738390;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    font-family: monospace;
    color: white;
    background-color:cornflowerblue;
}

.mobile-wrap{
    border: 1px var(--dull-text) solid;
    border-radius: 10px;
    max-width: 400px;
    min-height: 100vh;
    background-color: black;
    z-index: 100;
    overflow: hidden;
}
header{
    display: flex;
    flex-direction: column;
    width: auto;
    border-bottom: 1px rgb(107, 95, 95) solid;
}

img{
    width: 3.5rem;
    border-radius: 50%;
}

button{
    font-size: 0.7rem;
    width: 4.5rem;
    font-family: monospace;
    border: 1px white solid;
    background: transparent;
    color: white;
    border-radius: 3rem;
}

.follow{
    background-color: white;
    color: black;
}

.topper{
    width: auto;
    margin: 0.14rem;
    display: flex;
    justify-content: space-between;
}


.title {
    font-size: 1.35rem;
    padding: 1.1rem;
}

.title i{
    margin-right: 0.7rem;
}

.botweeter{
    display: flex;
    align-items: center ;
    max-width: 100vw;
    padding: 0.5rem;
}

.user-info{
    width: 100%;
    margin-left: 0.7rem;
}

.bot-id{
    color: var(--dull-text);
}

.user--follow{
    display: flex;
    justify-content: space-between;
}

.bot-user{
    margin-bottom: 0.2rem;
}


footer div{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 4.4rem;
    background-color: white;
}

footer i{
    font-size: 1.3rem;
    color: black;
}